/* AppComponent's private CSS styles */
.nav-bar {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 1vw;
}

.nav-bar__left {
  display: flex;
  gap: 1em;
  align-items: center;
}

.nav-bar__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
  margin-right: 4vw
}

h1 {
  margin-bottom: 0;
}

.tour-color{
  color: rgb(51, 102, 153);
  font-family: 'Concert One', cursive;
}

nav a {
  padding: 1rem;
  text-decoration: none;
  margin-top: 10px;
  background-color: #2c2c2c;
  outline: 2px solid whitesmoke;
  border: 3px solid seagreen;
  color: seagreen;
  border-radius: 5px;
}

a:active{
  background-color: #474747;
}
