/* AppComponent's private CSS styles */
.nav-bar {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1vw;
  margin-bottom: 1em;
}

.nav-bar__left {
  display: flex;
  align-items: center;
  gap: 1vw;
  text-align: center;
}

.nav-bar__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
}

h1 {
  margin-bottom: 0;
}

.tour-color{
  color: rgb(51, 102, 153);
  font-family: 'Concert One', cursive;
}

nav a {
  padding: .7em;
  text-decoration: none;
  background-color: #2c2c2c;
  outline: 2px solid whitesmoke;
  border: 3px solid seagreen;
  color: seagreen;
  font-size: 16pt;
  border-radius: 5px;
  width: max-content;
}

nav a:hover {
  transform: scale(1.1);
}

nav .selected-page {
  background-color: seagreen;
  color: rgba(255, 255, 255, 0.87);
}

@media screen and (max-width: 1170px) {

  .nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    gap: 1em;
    margin: auto, auto;
    margin-bottom: 2em;
  }

  h1 {
    font-size: 40pt;
  }
}

@media screen and (max-width: 740px) {

  h1 {
    font-size: 36pt;
  }

  img {
    width: 150px;
  }
}

@media screen and (max-width: 490px) {

  nav a {
    padding: .5em
  }

  .nav-bar__left {
    margin: 0 10vw;
  }
}
