<nav class="nav-bar">
  <div class="nav-bar__left">
    <img src="/assets/images/mha-logo.png">
    <h1>MY <span class="tour-color">TOUR</span> ACADEMIA</h1>
  </div>
  <div class="nav-bar__right">
    <!-- <a [ngClass]="checkSelected()" routerLink="/dashboard">Dashboard</a>
    <a [ngClass]="isSelected? 'selected': ''" routerLink="/heroes">Heroes</a> -->
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/heroes">Heroes</a>
  </div>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>

