<div class="main-container">
  <h2>Top Heroes</h2>
  <div *ngIf=topHero
        class="main-container__top-hero">
    <app-hero-card [allHeroes]="allHeroes"
                    type="dashboard"
                    [hero]="topHero">
    </app-hero-card>
  </div>
  <div class="main-container__other-heroes">
    <div *ngFor="let hero of heroes; let i = index"
          class="other-heroes__hero-container"
          routerLink="/detail/{{ hero.id }}">
      <h1 [ngStyle]="{'color': hero.hairColor}" [ngClass]="{'second': color === 'silver',
                      'third': color === 'bronze',
                      'default': color,
                      'heroId': true}"
                      >
                      {{ hero.id }}
      </h1>
      <h2 class="heroName"> {{ hero.name | uppercase}}</h2>
    </div>
</div>
<app-hero-search></app-hero-search>
