h2 {
  text-align: center;
  font-size: 30pt;
  color: seagreen;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
}

.main-container__top-hero {
  background-color: #2c2c2c;
}

.top-hero__card-container {
  display: flex;
  flex-direction: column;
  outline: 2px solid whitesmoke;
  border: 3px solid seagreen;
  padding: 10px 20px;
  gap: 0.5em;
}

.card-container__card-header {
  display: flex;
  gap: 20px
}

#topId {
  text-shadow: -2px 0 whitesmoke, 0 2px whitesmoke, 2px 0 whitesmoke, 0 -2px whitesmoke;
  color: crimson;
  font-size: 50pt;
}

.card-header__name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#topName {
  font-size: 24pt;
  color: crimson;
}

#topHeroName {
  font-style: italic;
  font-size: 18pt;
  color: rgba(245, 245, 245, 0.87)
}

.card-container__card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-content__content-container {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.content-container__detail-container {
  display: flex;
  align-items: center;
  gap: 5px;
  color: rgba(245, 245, 245, 0.60)

}

.detail-container__detail-label {
  font-size: 14pt;
  color: rgba(245, 245, 245, 0.87);
}

.main-container__other-heroes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.other-heroes__hero-container {
  display: flex;
  align-items: center;
  gap: 1em;
  background-color: #2c2c2c;
  outline: 2px solid whitesmoke;
  border: 3px solid seagreen;
  padding: 10px;
}

.heroId {
  color: crimson;
  text-shadow: -2px 0 whitesmoke, 0 2px whitesmoke, 2px 0 whitesmoke, 0 -2px whitesmoke;
  padding-left: 5px;
}

.heroName {
  font-size: 20pt;
  color: crimson;
}

.other-heroes__hero-container:hover {
  transform: scale(1.05);
  cursor: pointer;
}
