input, select {
  font-size: 16px;
  min-width: 50px;
  max-width: 140px;
  text-align: center;
  background-color: #2c2c2c;
  color: rgba(255, 255, 255, 0.87);
  padding: 4px 5px;
}

button {
  width: max-content;
  background-color: #2c2c2c;
  color: rgba(255, 255, 255, 0.87);
  outline: 2px solid whitesmoke;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  transform: scale(1.1);
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
}

.main-container__content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

.top-hero__card-container {
  display: flex;
  flex-direction: column;
  background-color: #2c2c2c;
  outline: 2px solid whitesmoke;
  border: 3px solid seagreen;
  padding: 10px 20px;
  gap: 0.5em;
}

.card-container__card-header {
  display: flex;
  justify-content: space-evenly;
  gap: 20px
}

#topId {
  text-shadow: -2px 0 whitesmoke, 0 2px whitesmoke, 2px 0 whitesmoke, 0 -2px whitesmoke;
  font-size: 50pt;
}

.card-header__name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#topName {
  font-size: 24pt;
  text-shadow: -1px 0 #adadad, 0 1px #adadad, 1px 0 #adadad, 0 -1px #adadad;
}

.font-shadow {
  text-shadow: -1px 0 #adadad, 0 1px #adadad, 1px 0 #adadad, 0 -1px #adadad;
}

#topHeroName {
  font-style: italic;
  font-size: 18pt;
  color: rgba(245, 245, 245, 0.87);
  overflow-wrap: break-word;
  max-width: 250px;
  text-align: center;
}

.card-container__card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  gap: 1em;
}

.card-content__content-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.content-container__detail-container {
  display: flex;
  align-items: center;
  gap: 5px;
  color: rgba(245, 245, 245, 0.60);
  justify-content: space-between;
}

.detail-container__detail-label {
  font-size: 14pt;
  color: rgba(245, 245, 245, 0.87);
}

.card-container__button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 20px 0;
}

.dinamic-border {
  border: 3px solid transparent;
  border-image-slice: 1;
}

.first {
  color: #d4af37 !important;
}

.first-border {
  border: 3px solid #d4af37 !important;
}

.second {
  color: silver !important;
}

.second-border {
  border: 3px solid silver !important;
}

.third {
  color: #cd7f32 !important
}

.third-border {
  border: 3px solid #cd7f32 !important;
}
