/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
h1 {
  color: seagreen;
  font-size: 44pt;
}

h2 {
  text-align: center;
  font-size: 30pt;
  color: seagreen;
}

h3 {
  color: #444;
  font-weight: lighter;
}

body {
  margin: 2em;

}
body, input[type="text"], button {
  color: #333;
}
/* everywhere else */
* {
  margin: 0;
  font-family: 'Concert One', cursive;
}

html {
  background-color: #121212;
}
