li {
  list-style-type: none;
}

.search-component__search-box {
  display: flex;
  gap: 1em;
  align-items: flex-end;
}

.search-box__search-title {
  font-size: 24pt;
  color: seagreen;
}

#search-box {
  font-size: 18pt;
  background-color: #2c2c2c;
  color: rgba(255, 255, 255, 0.87);
  padding: 5px;
}

.search-result li {
  display: flex;
  justify-content: flex-end;
}

.search-result li a {
  border: solid 1px seagreen;
  border-top: 0;
  width: 57.5%;
  max-width: 600px;
  padding: .5rem;
  box-sizing: border-box;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);
}



ul.search-result {
  margin-top: 0;
  padding-left: 0;
}
